*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #000046;
    background: linear-gradient(to right, #1CB5E0, #000046);
}
#root{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;

}
.tablero {
    padding: 10px 10px 0 0 ;
    background: white;
}
.tablero>div{
  
}
#pieceStyle{
    height: 1.2rem;
    position: relative;
    top: 2rem;
    margin: 0 1rem;
}

.reglasH, .reglasV{
    padding: 0;
    font-size: 1.5rem;
}



body {
  height: 100%;
  font-size: 16px;
  background: #1D77EF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.select-ctr {
  position: relative;
  width: 350px;
  height: 370px;
  font-family: "Roboto", sans-serif;
}

.select-ctr > div {
  padding: 15px 20px;
  position: absolute;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
}

.input-1 { top: 60px; }
.input-2 { top: 120px; }
.input-3 { top: 180px; }
.input-4 { top: 240px; }
.input-5 { top: 300px; }

.input {
  background: #fff;
  color: #777;
  border-radius: 2px;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1);
}

.input.active {
  color: #1D77EF;
}

.input-preview {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  transition: 0.3s all ease;
}

.input-preview.active {
  color: rgba(255, 255, 255, 1);
}

.input-preview:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 18px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.75);
  clip-path: polygon(50% 73%, 0 0, 100% 0);
  transition: 0.3s all ease;
}

.input-preview.active:before {
  background: rgba(255, 255, 255, 1);
  clip-path: polygon(50% 0, 0 73%, 100% 73%);
}

