*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

.Board{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.Board .white{
    background-color: rgb(0, 0, 0);
}
.Board .dark{
    background-color: rgb(255, 255, 255);
}
.tablero div {
    border: 1px solid #000;
}